.btn {
    height: 56px;
    border-radius: 12px;
    background-color: #7B6EF6;
    color: white;
    text-align: center;
    padding: 16px 32px;
    border: 2px solid #7B6EF6;
    max-width: 201px;
}