.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #121829CC;*/
    background-color: #121829;
    backdrop-filter: blur(40px);
    height: 80px;
    opacity: 1;
    padding: 16px 120px;
}

.bookmark {
    height: 40px;
    width: 40px;
}

.menuHeaderMenu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu-header__user {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 5px;
}

.menuHeaderLogin {
    display: flex;
    gap: 10px;
}

.menu-header__logout {

}

.menu-header__logo {

}

.menu-header__search {

}

.menu-header__films {

}

a.text {
    color: #A8AEBF;
    text-decoration: none;
}